<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @through_reference.description %>
</p>


<%= link_to 'Edit', edit_through_reference_path(@through_reference) %> |
<%= link_to 'Back', through_references_path %>
